#btnConfirm{
    background-color: #2ebe2a;
    box-shadow: 5px 5px 2.5px grey;
    height: 120px;
    width: 270px;
    border-radius: 20px;
    margin: 10px;
    color: white;
    font-size: 40px;
    
}

#btnDelete{
    background-color: #ff371c;
    box-shadow: 5px 5px 2.5px grey;
    height: 120px;
    width: 270px;
    border-radius: 20px;
    margin: 10px;
    color: white;
    font-size: 40px;
    
}