#btnDerivarCaja{
    background-color: rgb(230, 114, 99);
    box-shadow: 5px 5px 2.5px grey;
    width: 300px;
    font-weight: 100;
    margin-top: 15px;
    height: 100px;
    width: 140px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#imgButton{
    width: 50px;
    height: auto;
}

#imgButton2{
    width: 50px;
    height: auto;
}