#DerivarContainerBoxes{
    display: flex;
    flex-direction: column;

}

#DerivarContainerContainer{
    display: flex;
    flex-direction: row;
    margin-top: -15px;

}

#derivarCajaContainer{
    display: flex;
    flex-direction: column;

}